/*
    The gradient background of the app
 */
.background {
    -fx-background-color: linear-gradient(to bottom, #ff512f, #dd2476);
}

.body {
    -fx-background-color: #38383d;
    -fx-background-radius: 10;
}

/*
    A normal button with white text and no background
 */
.normal-button {
    -fx-text-fill: white;
    -fx-background-color: none;
}

/*
    A button with black text and white background
 */
.inverted-button {
    -fx-background-color: white;
}

/**
    Turns a button blue
 */
.normal-button.primary {
    -fx-background-color: #0060df;
}

/**
    Turns a button red
 */
.normal-button.danger {
    -fx-background-color: #ff0039;
}

.header {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: "Turret Road Regular";
}

/**
    Turns a header green
 */
.header.correct {
    -fx-text-fill: #12bc00;
}

/**
    Turns a header red
 */
.header.incorrect {
    -fx-text-fill: #ff0039;
}

/**
    Scrollbar Styling
 */

.scroll-bar:horizontal {
    -fx-background-color: #38383d;
    -fx-background-radius: 5;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}

.scroll-bar:horizontal .track {
    -fx-background-color: #38383d;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: white;
}
